
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;

:host {
    height: inherit;
    display: block;
}

.main-area-container {
    display: grid;
    height: inherit;
}

.list-container {
    height: 100%;
}

.inline-container {
    height: inherit;
    display: grid;    
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    &.add-padding {
        padding-inline: ngx-variables.$content-padding;
    }    

    .header-area {
        grid-column: 2 / 3;
        grid-row: 1 / 2
    }

    .smart-filter-area {
        grid-column: 1 / 2;
        grid-row: 1 / 3
    }

    .list-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3
    }

    .list-description {
        font-size: ngx-variables.$fs-xs;
        max-width: 640px;
        padding: ngx-variables.$spacing-sm 0;
    }

    .bread-crumbs {
        padding: ngx-variables.$spacing-md 0 ngx-variables.$spacing-sm 0;
     }
}
.none-inline {
    .list-description {
        font-size: ngx-variables.$fs-sm;
        max-width: 720px;
        padding: ngx-variables.$spacing-sm ngx-variables.$spacing-xs;
    }

    .bread-crumbs {
        padding: ngx-variables.$spacing-md ngx-variables.$spacing-xs ngx-variables.$spacing-sm ngx-variables.$spacing-xs;
     }
}

::ng-deep.pep-top-bar-container:not(.inline) {
    margin-inline: ngx-variables.$spacing-xs;
}

::ng-deep.pep-top-bar-container.inline {
    height: ngx-variables.$top-bar-field-height !important;
}

.noDataFoundMsg{
    margin: 1rem 0;
    height: calc(100% - 2rem);
    width: 100%;
    background: hsla(0, 0%, 10%, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}

