
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;

:host {
    height: inherit;
    display: block;
}

.main-area-container {
    display: grid;
    height: inherit;
}

.list-container {
    height: 100%;
}

.inline-container {
    height: inherit;
    display: grid;
    grid-template-rows: auto 1fr;

    &.add-padding {
        padding-inline: ngx-variables.$content-padding;
    }

    ::ng-deep.pep-top-bar-container.inline {
        height: auto;
        overflow: hidden;
    }
}

.noDataFoundMsg{
    height: 100%;
    width: 100%;
    background: hsla(0, 0%, 10%, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread-crumbs {
   padding: ngx-variables.$spacing-lg ngx-variables.$spacing-lg ngx-variables.$spacing-sm ngx-variables.$spacing-lg;
}
