<div *ngIf="inline" class="inline-container" [ngClass]="{ 'add-padding': addPadding }">
    <div>
        <div *ngIf="showTopBar" class="inline-top-bar-container">
            <ng-container *ngTemplateOutlet="topBarTemplate"></ng-container>
        </div>
        <ng-container *ngIf="breadCrumbsItems.length > 0">
            <ng-container *ngTemplateOutlet="breadCrumbsTemplate"></ng-container>
        </ng-container>
    </div>
    <ng-container *ngTemplateOutlet="listTemplate"></ng-container>
</div>

<pep-page-layout *ngIf="!inline" [addPadding]="addPadding">
    <ng-container *ngIf="showTopBar" pep-top-area>
        <ng-container *ngTemplateOutlet="topBarTemplate"></ng-container>
    </ng-container>
    <ng-container *ngIf="breadCrumbsItems.length > 0" pep-top-area>
        <ng-container *ngTemplateOutlet="breadCrumbsTemplate"></ng-container>
    </ng-container>
    <div pep-main-area class="main-area-container">
        <ng-container *ngTemplateOutlet="listTemplate"></ng-container>
    </div>
</pep-page-layout>

<ng-template #topBarTemplate>
    <pep-top-bar [title]="title" [inline]="inline">
        <ng-content header-start-content select="[header-start-content]"></ng-content>
        
        <!-- <div *ngIf="footerState === 'hidden'" left-buttons>
            <pep-button [value]="'toggle menu'" [classNames]="'pep-spacing-element'" (click)="toggleMenu()">
            </pep-button>
            <pep-button [classNames]="'pep-spacing-element '" [value]="'Add filters'" [iconName]="'system_bolt'"
                (click)="addFilters()">
            </pep-button>
        </div> -->

        <div header-end-content>
            <ng-content select="[header-end-content]"></ng-content>
        </div>
        <pep-list-actions [sizeType]="inline ? 'sm' : 'md'" [actions]="menuActions"
            (actionClick)="onMenuItemClicked($event)"></pep-list-actions>
        <pep-list-total [sizeType]="inline ? 'sm' : 'md'" [totalRows]="customList ? customList.totalRows : -1">
        </pep-list-total>

        <pep-search *ngIf="showSearch" [sizeType]="inline ? 'sm' : 'md'" (search)="onSearchChanged($event)">
        </pep-search>
    </pep-top-bar>
</ng-template>

<ng-template #breadCrumbsTemplate>
    <pep-bread-crumbs class="bread-crumbs" [items]="breadCrumbsItems" [addSpacing]="true" [displayType]="'items'"
        (itemClick)="onBreadCrumbItemClick($event)"></pep-bread-crumbs>
</ng-template>

<ng-template #listTemplate>
    <div class="list-container">
        <!-- <ng-container *ngIf="_totalRowCount > 0"> -->
            <pep-list #customList viewType="table" [supportSorting]="supportSorting"
                [selectionTypeForActions]="selectionType"
                [pagerType]="pager.type" [pageSize]="pager.size" [pageIndex]="pager.index"
                [noDataFoundMsg]="noDataFoundMsg" (fieldClick)="onCustomizeFieldClick($event)"
                [firstFieldAsLink]="firstFieldAsLink" (selectedItemsChange)="onSelectedRowsChanged($event)"
                (loadItems)="onLoadItems($event)" (loadPage)="onLoadPage($event)"
                (valueChange)="onValueChanged($event)">
            </pep-list>
        <!--</ng-container>
         <ng-container *ngIf="_totalRowCount === 0">
            <div class="noDataFoundMsg">
                <h2>{{noDataFoundMsg}}</h2>
            </div>
        </ng-container> -->
    </div>
</ng-template>
