@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/functions' as ngx-functions;
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;

$draggable-item-height: 2.5rem;

:host {
    display: block;
    cursor: grab; 
}


.draggable-item-container {
    // opacity: 0.75;
    height: $draggable-item-height;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-radius: ngx-variables.$border-radius-md;
    padding-inline: ngx-variables.$spacing-sm;
    
    @include ngx-mixins.state-regular-default(true);

    .title-container {
        overflow-x: hidden;
        margin-inline: ngx-variables.$spacing-sm;

        .title {
            display: block;
        }
    }

    .actions {
        display: inline-flex;
        gap: ngx-variables.$spacing-xs;
    }
}