@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;

/* You can add global styles to this file, and also import other style files */
html {
    body.inheritCursors * {
        cursor: inherit !important;
    }
}

@mixin mapped-field-item-container() {
    max-width: 600px;
    // height: 6rem;
    border-radius: ngx-variables.$border-radius-md;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: ngx-variables.$spacing-lg;
}

@mixin mapped-field-container() {
    @include mapped-field-item-container();
    @include ngx-mixins.state-regular-default(true);
    gap: ngx-variables.$double-content-margin;

    .fields-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr auto;
        gap: 0.5rem;
        padding-top: 0.5rem;

        // To align with the other fields.
        .del-button {
            margin-top: ngx-variables.$form-field-title-height;
        }
    }
}

.cdk-drag-preview {
    &.mapped-field-container {
        @include mapped-field-container();
    }
}