@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;

.checkbox-as-title {
    margin-bottom: 0.5rem !important;
    min-height: unset !important;

    .pep-checkbox-container {
        background: unset !important;
        padding-left: unset !important;
        padding-right: unset !important;

        .mat-checkbox-inner-container {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .mat-checkbox-layout {
            @include ngx-mixins.font-body(ngx-variables.$fs-xl, ngx-variables.$lh-xl);
            font-weight: ngx-variables.$font-weight-bold !important;

            .mat-checkbox-label span {
                margin: 0 0.5rem;
            }
        }
    }

    // &.sub-title {
    //     .pep-checkbox-container {
    //         .mat-checkbox-layout {
    //             @include ngx-mixins.font-body(ngx-variables.$fs-xl, ngx-variables.$lh-xl);
    //             font-weight: ngx-variables.$font-weight-bold !important;
    
    //             .mat-checkbox-label span {
    //                 margin: 0 0.5rem;
    //             }
    //         }
    //     }
    // }
}