
.checkbox-as-title {
    margin-bottom: 0.5rem !important;
    min-height: unset !important;

    .pep-checkbox-container {
        background: unset !important;
        padding-left: unset !important;
        padding-right: unset !important;

        .mat-checkbox-inner-container {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .mat-checkbox-layout {
            @include font-body($fs-xl, $lh-xl);
            font-weight: $font-weight-bold !important;

            .mat-checkbox-label span {
                margin: 0 0.5rem;
            }
        }
    }

    // &.sub-title {
    //     .pep-checkbox-container {
    //         .mat-checkbox-layout {
    //             @include font-body($fs-xl, $lh-xl);
    //             font-weight: $font-weight-bold !important;
    
    //             .mat-checkbox-label span {
    //                 margin: 0 0.5rem;
    //             }
    //         }
    //     }
    // }
}