<div class="example-wrapper">
    <pep-generic-list [data]="dataSource" [actions]="actions" [showTopBar]="true" [breadCrumbsItems]="breadCrumbsItems"
        title="Generic list title" [allowMultipleSelection]="true" (breadCrumbItemClick)="onBreadCrumbClick($event)">
        <ng-container right-buttons>
            <pep-menu class="pep-spacing-element" [items]="menuItems" [sizeType]="'md'"
                (menuItemClick)="onMenuItemClicked($event)">
            </pep-menu>
            <pep-button class="pep-spacing-element" [value]="'New'" [sizeType]="'md'" [styleType]="'strong'">
            </pep-button>
        </ng-container>
    </pep-generic-list>

    <pep-generic-list [data]="dataSource" [actions]="actions" [inline]="true" [breadCrumbsItems]="breadCrumbsItems" [pager]="pager"
        title="Generic list inline title" [showSearch]="true" (breadCrumbItemClick)="onBreadCrumbClick($event)">
        <ng-container right-buttons>
            <pep-menu class="pep-spacing-element" [items]="menuItems" [sizeType]="'sm'"
                (menuItemClick)="onMenuItemClicked($event)">
            </pep-menu>
            <pep-button class="pep-spacing-element" [value]="'New'" [sizeType]="'sm'" [styleType]="'strong'">
            </pep-button>
        </ng-container>
    </pep-generic-list>
</div>