<div class="example-wrapper">
    <!-- <div>abc</div> -->
 

    <!-- <pep-generic-list [data]="dataSource" [actions]="actions" [inline]="true" [breadCrumbsItems]="breadCrumbsItems" [pager]="pager"
        title="Generic list inline title" [showSearch]="true" (breadCrumbItemClick)="onBreadCrumbClick($event)">
        <ng-container right-buttons>
            <pep-menu class="pep-spacing-element" [items]="menuItems" [sizeType]="'sm'"
                (menuItemClick)="onMenuItemClicked($event)">
            </pep-menu>
            <pep-button class="pep-spacing-element" [value]="'New'" [sizeType]="'sm'" [styleType]="'strong'">
            </pep-button>
        </ng-container>
    </pep-generic-list> -->
</div>
<pep-button class="pep-spacing-element" [value]="'Try me'" [sizeType]="'sm'" [styleType]="'strong'" (click)="onClick()">
</pep-button>