<!-- <div>Addon block loader</div> -->
<ng-container *ngIf="!isOnPopUp">
    <pep-remote-loader *ngIf="remotePathOptions"
        [options]="remotePathOptions"
        [hostObject]="hostObject"
        (hostEvents)="onHostEvents($event);"
        (load)="onBlockLoad()">
    </pep-remote-loader>
</ng-container>

<!-- <pep-remote-loader *ngIf="remotePathOptions !== null"  class="remote-loader"
            [options]="remotePathOptions"
            [hostObject]="hostObject"
            (hostEvents)="onHostEvents($event);"
            (load)="onBlockLoad($event)">
</pep-remote-loader> -->

<ng-template #dialogTemplate let-data>
    <pep-dialog [title]="data.title">
        <ng-container pep-dialog-content>
            <pep-remote-loader 
                [options]="data.remotePathOptions"
                [hostObject]="data.hostObject"
                (hostEvents)="onHostEvents($event);"
                (load)="onBlockLoad()">
            </pep-remote-loader>
        </ng-container>
        <div pep-dialog-actions class="spacing-element-negative">
            <button mat-button (click)="closeDialog($event)" class="spacing-element pep-button md weak">
                {{ 'Close' | translate }}
            </button>
        </div>
    </pep-dialog>
</ng-template>