<label *ngIf="header != ''" class="body-{{titleSize}} {{bold ? 'bold' : ''}} ellipsis">{{header}}</label>
<pep-field-title *ngIf="subHeader !=''" [label]="subHeader" [disabled]="disabled" [xAlignment]="dir === 'rtl' ? 'right' : 'left'"></pep-field-title>
<pep-group-buttons [buttons]="btnsArray" 
                   [selectedButtonKey]="btnKey" 
                   [stretch]="true" 
                   buttonsClass="md regular" 
                   [buttonsDisabled]="disabled" 
                   viewType="toggle">
</pep-group-buttons>
