<pep-page-layout >
    <!-- <ng-container pep-top-area>
        <pep-top-bar [title]="title">
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container> -->
    <ng-container pep-main-area>
        <ng-container *ngIf="type === 'not-supported' ; then notSupportedTemplate; else supportedTemplate"></ng-container>
        <ng-template #notSupportedTemplate>
            <span class="body-sm ellipsis">
                {{ 'DATA_VIEW_BUILDER.TYPE_NOT_SUPPORTED' | translate }}
            </span> 
        </ng-template>
        <ng-template #supportedTemplate>
            <div *ngIf="dataView && availableFields" class="mapped-fields-container">
                <div class="available-fields-side-area">
                    <pep-draggable-items [items]="availableFields" [title]="'DATA_VIEW_BUILDER.AVAILABLE_FIELDS' | translate" titleType="with-bottom-border" titleSizeType="md"
                        itemPlaceholderType="weak" [showSearch]="true" [dropAreaIds]="['emptyDropArea', 'mappedFields']" (itemDragStarted)="onDragStart($event)" (itemDragEnded)="onDragEnd($event)">
                    </pep-draggable-items>
                </div>
                <div pep-main-area class="mapped-fields-main-area">
                    <div class="mapped-fields-top-area pep-border-bottom"
                        [title]="builderTitle + ' ' + (builderTitleHint ? ('(' + builderTitleHint + ')') : '')">
                        <span class="title-md">{{ builderTitle }}&nbsp;</span>
                        <span *ngIf="builderTitleHint" class="color-dimmed">({{ builderTitleHint }})</span>
                    </div>
                    
                    <div class="data-view-by-type-area" [ngSwitch]="type">
                        <ng-container *ngSwitchCase="'menu'">
                            <menu-data-view [fields]="dataView?.Fields || []" [availableFieldsTitles]="availableFieldsTitles" [emptyDropAreaId]="emptyDropAreaId"
                                [mappedFieldsId]="mappedFieldsId" (fieldsChange)="onFieldsChanged($event)" [showAddSeparator]="false">
                            </menu-data-view>
                        </ng-container>
                        <!-- <ng-container *ngSwitchDefault>
                        </ng-container> -->
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</pep-page-layout>

