// @use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;

.upload-panel-contnainer {
    .panel-content {
        max-height: 50vh;
        overflow: auto;
    
        ul {
            list-style-type: none;
            padding: 0;  
    
            li {
                height: 1.25rem;
                margin-top: .5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                pep-icon {
                    height: 1rem;
                }
            }
        }
    }
}
