<div *ngIf="filesList.length" id="uploadPanelCont">
    <div class="panel-header pep-border-bottom">
        <label class="body-md ellipsis">{{title}}</label>
        <pep-button sizeType="xs" classNames="round-corners" iconName="system_close" iconPosition="end" (buttonClick)="onCloseClicked($event)"></pep-button>
    </div>
    <div class="panel-content">
        <ul>
            <li *ngFor="let file of filesList">
                <ng-container *ngIf="file?.status !== 'hidden'">
                    <span class="color-dimmed body-sm ellipsis">{{file.name}}</span>
                    <pep-icon class="pep-spacing-element" name="arrow_right_alt"></pep-icon>
                    <span class="body-sm" title="{{file.statusMessage}}">{{file.status}}</span>
                </ng-container>
            </li>
        </ul>
    </div>
</div>
