<pep-snack-bar class="upload-panel-contnainer" [snackBarRef]="snackBarRef" [title]="data.title" (closeClick)="onCloseClicked($event)" >
    <div pep-snack-bar-content class="panel-content">
        <ul *ngIf="data.content.length">
            <li *ngFor="let file of data.content">
                <ng-container *ngIf="file?.status !== 'hidden'">
                    <span class="color-dimmed body-sm ellipsis">{{file.name}}</span>
                    <pep-icon class="pep-spacing-element" name="arrow_right_alt"></pep-icon>
                    <span class="body-sm" title="{{file.statusMessage}}">{{file.status}}</span>
                </ng-container>
            </li>
        </ul>
    </div>
</pep-snack-bar>