#uploadPanelCont {
    width: 22rem;
    
    .panel-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2.5rem;

        ::ng-deep {
            .round-corners {
                border-radius: 1.5rem;
            }
        }
    }
}

.panel-content {
    max-height: 50vh;
    overflow: auto;

    ul {
        list-style-type: none;
        padding: 0;  

        li {
            height: 1.25rem;
            margin-top: .5rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            pep-icon {
                height: 1rem;
            }
        }
    }
}