<div class="components-container">
    <pep-menu [text]="'text'" iconName="system_menu" type="action" styleType="weak" sizeType="md" classNames="hahah"
        [items]="menuItems" [selectedItem]="selectedMenuItem" [disabled]="false" (menuItemClick)="menuItemClick($event)"
        (menuClick)="menuClick($event)"></pep-menu>
    <pep-color-settings title="Color"></pep-color-settings>
    <pep-shadow-settings></pep-shadow-settings>
    <!-- <pep-button value="click here"></pep-button> -->
    <pep-group-buttons-settings [groupType]="'left-right-arrows'" [title]="'Group buttons'" [subHeader]="'Eisenberg'"
        pepResetConfigurationField="'group-buttons-test'" [dir]="'ltr'" [resetHostEvents]="hostEvents">
    </pep-group-buttons-settings>
    <pep-button [value]="'open dialog'" [sizeType]="'sm'" [styleType]="'regular'" (click)="testOpenDialog()">
    </pep-button>
    <pep-icon-picker [disabled]="false" [useCheckBoxHeader]="false"></pep-icon-picker>
    <pep-rich-text [value]="'This is test text'" 
        [label]="'Rich text test'" [inlineMode]="false" >

    </pep-rich-text>
</div>